@model Customer
@{
    ViewBag.Title = "Update a Customer";
}

<h2>Update a Customer from Patch request<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="UpdateCustomer" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input class="form-control" asp-for="EmailAddress" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>